# Python
__pycache__/
*.py[cod]
venv/
.venv/
env/

# Environment variables / secrets
.env
.env.*
!.env.example

# React / Node
node_modules/
build/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# PostgreSQL / local files
*.sql
